
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">How china</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <a href="#" class="btn btn-primary">Main call to action</a>
      <a href="#" class="btn btn-secondary">Secondary action</a>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div class="row">
      <% @videos.each do |video| %>
        <div class="card">
          <%= image_tag video.avatar.url, :style => "height: 280px" %>
          <!-- <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap"> -->
          <p class="card-text title"><a href="/videoplay/video?id=<%=video.id%>"><%= video.title%></a></p>

        </div>
      <% end %>
    </div>

  </div>
</div>
