<div class="container">
    <div class="row videobox">
      <div class="col-md-7">

            <div class="video_play_box" id="player"></div>

      </div>
      <div class="col-md-5 subtitle_box">

        <div class="contents_small_box">
          <% @subtitle.each do |sub| %>
              <p id="<%= sub.order %>" data-id="<%= sub.started_at %>" data-end="<%= sub.ended_at %>" class="texe_des_color testtime">
                  <span class="play-logo glyphicon glyphicon-play-circle"></span>
                  <span><%= sub.content %></span>
              </p>
          <% end %>
        </div>





      </div>
    </div>
</div>





<!-- <script src="/assets/jquery.1.10-min.js" data-turbolinks-track="reload"></script> -->
<script type="text/javascript">





</script>
